<!DOCTYPE html>
<html lang="en">
<head>
<title>courses website</title>
<meta charset="utf-8">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
</head>
<body id="page1">
<!-- START PAGE SOURCE -->
<div class="wrap">
  <header>
    <div class="container">
      <h1><a href="#">Student's site</a></h1>
      <nav>
        <ul>
          <li class="current"><a href="index.html" class="m1">Home Page</a></li>
          <li><a href="login.html" class="m2">Login</a></li>
          <li><a href="articles.html" class="m3">---</a></li>
          <li><a href="contact-us.html" class="m4">----</a></li>
          <li class="last"><a href="sitemap.html" class="m5">----</a></li>
        </ul>
      </nav>
      <form action="#" id="search-form">
        <fieldset>
          <div class="rowElem">
            <input type="text">
            <a href="#">Search Coueses</a></div>
        </fieldset>
      </form>
    </div>
  </header>
  <div class="container">
    <aside>
      <h3>Categories</h3>
      <ul class="categories">
        <li><span><a href="#">Development</a></span></li>
        <li><span><a href="#">Bussiness</a></span></li>
        <li><span><a href="#">IT and software</a></span></li>
        <li><span><a href="#">Design</a></span></li>
        <li><span><a href="#">Marketing</a></span></li>
        <li><span><a href="#">Music</a></span></li>
        <li><span><a href="#">Health and fitness</a></span></li>
      </ul>
      <h2>New <span>Courses</span></h2>
      <ul>
         <li><span><img src="images/icon2.png"></span><br>
               <a href="#"><strong>django python framework</strong></a> <!-- course name -->
               <p>course info jhsa djha jhdkj ahdjkh <span><strong> Instructor:Amr el sayed </strong></span> </p> 
             <!-- course info and instructor name-->
          </li>
         <li><span><img src="images/icon2.png"></span><br>
               <a href="#"><strong>django python framework</strong></a> <!-- course name -->
               <p>course info jhsa djha jhdkj ahdjkh <span><strong> Instructor:Amr el sayed </strong></span> </p> 
             <!-- course info and instructor name-->
          </li>
         <li><span><img src="images/icon2.png"></span><br>
               <a href="#"><strong>django python framework</strong></a> <!-- course name -->
               <p>course info jhsa djha jhdkj ahdjkh <span><strong> Instructor:Amr el sayed </strong></span> </p> 
             <!-- course info and instructor name-->
          </li>          
    </aside>
    <section id="content">
      <div id="banner">
        <img src="images/233.jpg">
      </div>
      <div class="inside">
        <h2>Our <span>Courses</span></h2>
        <ul class="list">
         <li><span><img src="images/icon2.png"></span><br>
               <a href="#"><strong>django python framework</strong></a> <!-- course name -->
               <p>course info jhsa djha jhdkj ahdjkh <span><strong> Instructor:Amr el sayed </strong></span> </p> 
             <!-- course info and instructor name-->
          </li>
         <li><span><img src="images/icon2.png"></span><br>
               <a href="#"><strong>django python framework</strong></a> <!-- course name -->
               <p>course info jhsa djha jhdkj ahdjkh <span><strong> Instructor:Amr el sayed </strong></span> </p> 
             <!-- course info and instructor name-->
          </li>
         <li class="last"><span><img src="images/icon2.png"></span><br>
               <a href="#"><strong>django python framework</strong></a> <!-- course name -->
               <p>course info jhsa djha jhdkj ahdjkh <span><strong> Instructor:Amr el sayed </strong></span> </p> 
             <!-- course info and instructor name-->
             <!-- lazm koll li 3xn tdelo class="last" where n=1,2,3,4,.... :D :D -->
          </li>
            
         <li><span><img src="images/icon2.png"></span><br>
               <a href="#"><strong>django python framework</strong></a> <!-- course name -->
               <p>course info jhsa djha jhdkj ahdjkh <span><strong> Instructor:Amr el sayed </strong></span> </p> 
             <!-- course info and instructor name-->
          </li>
            
         <li><span><img src="images/icon2.png"></span><br>
               <a href="#"><strong>django python framework</strong></a> <!-- course name -->
               <p>course info jhsa djha jhdkj ahdjkh <span><strong> Instructor:Amr el sayed </strong></span> </p> 
             <!-- course info and instructor name-->
          </li>
         <li class="last"><span><img src="images/icon2.png"></span><br>
               <a href="#"><strong>django python framework</strong></a> <!-- course name -->
               <p>course info jhsa djha jhdkj ahdjkh <span><strong> Instructor:Amr el sayed </strong></span> </p> 
             <!-- course info and instructor name-->
          </li>
         <li><span><img src="images/icon2.png"></span><br>
               <a href="#"><strong>django python framework</strong></a> <!-- course name -->
               <p>course info jhsa djha jhdkj ahdjkh <span><strong> Instructor:Amr el sayed </strong></span> </p> 
             <!-- course info and instructor name-->
          </li>
            
         <li><span><img src="images/icon2.png"></span><br>
               <a href="#"><strong>django python framework</strong></a> <!-- course name -->
               <p>course info jhsa djha jhdkj ahdjkh <span><strong> Instructor:Amr el sayed </strong></span> </p> 
             <!-- course info and instructor name-->
          </li>
         <li class="last"><span><img src="images/icon2.png"></span><br>
               <a href="#"><strong>django python framework</strong></a> <!-- course name -->
               <p>course info jhsa djha jhdkj ahdjkh <span><strong> Instructor:Amr el sayed </strong></span> </p> 
             <!-- course info and instructor name-->
          </li>


          </ul>

          
        <h2>Move Forward <span>With Your Education</span></h2>
        <p><span class="txt1">Eusus consequam</span> vitae habitur amet nullam vitae condis phasellus sed justo. Orcivel mollis intesque eu sempor ridictum a non laorem lacingilla wisi. </p>
        <div class="img-box"><img src="images/1page-img.jpg">Eusus consequam vitae habitur amet nullam vitae condis phasellus sed justo. Orcivel mollis intesque eu sempor ridictum a non laorem lacingilla wisi. Nuncrhoncus eros <a href="#">maurien ulla</a> facilis tor mauris tincidunt et vitae morbi. Velelit condimentes in laorem quis nullamcorper nam fauctor feugiat pellent sociis.</div>
        <p class="p0">Eusus consequam vitae habitur amet nullam vitae condis phasellus sed justo. Orcivel mollis intesque eu sempor ridictum a <a href="#">non laorem</a> lacingilla wisi.</p>
      </div>
    </section>
  </div>
</div>
<footer>
  <div class="footerlink">
    <p class="lf">Copyright &copy; 2018 <a href="#">moasa</a> - All Rights Reserved</p>
    <p class="rf">Design by <a href="http://www.fb.com/captainmagedashmawy">Maged Ashmawy</a></p>
    <div style="clear:both;"></div>
  </div>
</footer>
<!-- END PAGE SOURCE -->
</body>
</html>
